/*----------------------------------------------------------------------------*/
#navigation {
  position: absolute;
  top: 55%;
  margin-top: -80px;
  right: 18px;
  text-align: center;
  -webkit-transition: opacity 0.6s 0s;
}
#navigation > li {
  list-style: none;
  width: 5px;
  height: 5px;
  margin: 1px 1px 24px 1px;
  background: #000;
  -webkit-border-radius: 6px;
  -webkit-transition: All 0.3s 0s;
  opacity: 0.2;
}
#navigation > li.page_on {
  opacity: 1;
}
/*----------------------------------------------------------------------------*/
.screen-line {
    border-top: solid 1px #d5dfe7;
    margin: auto;
}

.screen {
    // overflow: hidden;
}
/*----------------------------------------------------------------------------*/
.wy_home {
	text-align: center;
	position: relative;
	-webkit-animation: myfirst 5s;
	-webkit-animation-fill-mode: forwards;

	ul {
		width: 200px;
		margin: 0px auto;

		li {
			display: inline-block;
			margin: 0.5em;

			.sns_avatar  {
				-moz-border-radius: 50%;
			  	-webkit-border-radius: 50%;
			  	border-radius: 50%;
				-webkit-animation: my_sns 5s;
				-webkit-animation-fill-mode: forwards;
			}
		}
	}

	.sns_list {
		margin-top: 20px;
	}

	.avatar {
		width: 6em;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

	h1 {
		margin-top: 50px;
		font-size: 2em;
	}
}

@-webkit-keyframes myfirst {
  from {
    top: 0em;
  }
  to {
    top: 13em;
  }
}

@-webkit-keyframes my_sns {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*----------------------------------------------------------------------------*/
 #info-content {
  background: #d5dfe7;
 }

 .info-content-person-detail {
   width: 20em;
   height: 800px;
   margin-top: 9em;
   margin-left: 2em;
   margin-right: 1em;
   float: left;
   text-align: center;
   .avatar {
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     width: 90px;
     height: 90px;
   }

   .info-content-list {
     margin-top: 2em;
     height: auto;
     border: 1px solid #000;

     ul {
       text-align: left;
       padding: 1.5em;
       line-height: 140%;
     }
   }
 }

 .info-content-job-detail {
   float: left;
   ul {
     li {
       height: auto;
       list-style: none;
       .circle {
         border: 2px solid #000;
         border-radius: 50%;
         width: 12px;
         height: 12px;

         .circle-mini {
           border: 1px solid #000;
           background-color: #000;
           border-radius: 50%;
           width: 6px;
           height: 6px;
           margin: 1.5px 0 0 1.5px;
         }
       }
     }
   }
 }

 #info-split-top {
   margin-top: 100px;
   margin-left: 23.4em;
   width: 20px;
   height: 20px;
   background: #000;
   opacity: 0.4;
   -webkit-border-radius: 100px;
   -webkit-transition: All 0.3s 0s;
 }

 #info-split-line {
   border-left: 2px dashed #000;
   opacity: 0.4;
   margin-left: 1em;
   margin-top: 20px;
   height: 500px;
   float: left;
 }
 /*----------------------------------------------------------------------------*/
