.screen-line {
    border-top: solid 1px #d5dfe7;
    width: 1200px;
    margin: auto;
} 

/**
 * Site welcome page
 */
.wy_home {
	text-align: center;
	position: relative;
	-webkit-animation: myfirst 5s;
	-webkit-animation-fill-mode: forwards;
	
	ul {
		width: 200px;
		margin: 0px auto;
		
		li {
			display: inline-block;
			margin: 0.5em;

			.sns_avatar  {
				-moz-border-radius: 50%;
			  	-webkit-border-radius: 50%;
			  	border-radius: 50%;
				-webkit-animation: my_sns 5s;
				-webkit-animation-fill-mode: forwards;
			}
		}
	}

	.sns_list {
		margin-top: 20px;
	}

	.avatar {
		width: 6em;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

	h1 {
		margin-top: 50px;
		font-size: 2em;
	}
}


@-webkit-keyframes myfirst {
  from {
    top: 0em;
  }
  to {
    top: 13em;
  }
}

@-webkit-keyframes my_sns {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/**
 * Site info page
 */