body {
    background: #ddd;
    color: #333;
    padding-top: 0.5em;
}


.wy_home ul {
	width: 200px;
	margin: 0px auto;
}

.wy_home ul li {
	display: inline-block;
	margin: 0.5em;
	float: left;
	text-align: center;
}


.avatar {
	width: 6em;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.sns_list {
	margin-top: 20px;
}

.sns_avatar  {
	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	border-radius: 50%;
	-webkit-animation: my_sns 5s;
	-webkit-animation-fill-mode: forwards;
}

.main-content {
	text-align: center;
	position: relative;
	-webkit-animation: myfirst 5s;
	-webkit-animation-fill-mode: forwards;
}

.site-footer {
	display: block;
	position: fixed;
	bottom: 0.5em;
	right: 1em;
	font-size: 0.8em;
}

@-webkit-keyframes myfirst {
  from {
    top: 0em;
  }
  to {
    top: 10em;
  }
}

@-webkit-keyframes my_sns {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}